:root {
    --bg-color: #757373;
    --bg-header-color: #575757;
    --bg-card-character: #C4C4C4;
    --text-color: #F4F4F4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
}

.characterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.characterCard {
    margin: 2rem 2rem 0 0;
}